@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

button[type="submit"] {
  position: absolute;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  transition: 0.3s;
  color: black;
  background-color: #e0e0e0;
}

button[type="submit"]:hover {
  background-color: #0de72a;
  color: white;
  cursor: pointer;
}

button[type="submit"]:disabled {
  background-color: #e0e0e0;
}

button[type="submit"]:disabled:hover {
  background-color: #e0e0e0;
  color: black;
  cursor: not-allowed;
}

/* This is the message that appears on hover */
button[type="submit"]:disabled:hover::after {
  content: "Upload PDF file to convert";
  position: absolute;
  top: -30px;
  /* adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  /* Background color of the tooltip */
  color: #fff;
  /* Text color */
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  /* adjust as needed */
  pointer-events: none;
  /* Ensures tooltip doesn't interfere with other UI elements */
}

i.symbol {
  font-family: var(--font-family-symbols);
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  width: '100%';
  cursor: pointer;
}

i.symbol:hover {
  color: #64bbf1;
}

.button {
  border-radius: 16px;
  display: flex;
  align-items: center;
  color: #8a96a3;
  overflow: hidden;
}

.ml-6 {
  margin-left: 1.5rem;
  border-radius: 16px;
}

.mb-4 {
  margin-bottom: 1rem;
  border-radius: 16px;
}

.mt-4 {
  margin-top: 1rem;
  border-radius: 16px;
}

.button:hover {
  cursor: pointer;
  background-color: #eff8fd;
  border-radius: 16px;
}

.button:hover>* {
  color: #64bbf1;
  border-radius: 16px;
}

.button:hover span {
  color: #64bbf1;
}

i.symbol {
  border-radius: 16px;
}

div.active {
  color: black;
}

.homepage {
  user-select: none;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: flex-start;
  font-size: 26px;
  padding-left: 10px;
  color: black;
}

.homepage-right {
  user-select: none;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 26px;
  padding-right: 10px;
}

@media (max-width: 153px) {
  span.button-label {
    display: none;
    color: red;
  }
}

.button-label {
  background-color: transparent;
}

i.symbol.sm {
  font-size: 22px;
}

i.button.sm {
  font-size: 22px;
}

i.button.sm {
  font-size: 14px;
  background-color: #f1f2f4;
  padding: 5px;
  font-weight: bold;
}

i.button.sm.active {
  font-size: 14px;
  background-color: #bfebfb;
  padding: 5px;
  font-weight: bold;
}

textarea:focus {
  outline: none;
  box-shadow: none;
}

.divider {
  display: flex;
  background-color: #f1f2f4;
  height: 10px;
}

.icon-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: -30px;
  /* Adjust this value based on the size of your tooltip */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  pointer-events: none;
  z-index: 999;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}